@using Sdl.Web.Common.Extensions
@model Teaser
@{
    var isHero = ViewBag.RegionName == "Hero" ? true : false;
    double imageAspect = 0.0;
    if (isHero)
    {
        imageAspect = WebRequestContext.ScreenWidth == ScreenWidth.ExtraSmall ? 2 : (WebRequestContext.ScreenWidth == ScreenWidth.Small ? 2.5 : 3.3);
    }
}
<div @Markup.Entity(Model)>
    @if (Model.Media != null)
    {
        <span @Markup.Property(Model, "Media")>
            @if (imageAspect==0)
            {            
                @Html.Media(Model.Media, "100%")
            }
            else
            {
                @Html.Media(Model.Media, "100%", imageAspect)
            }
        </span>
    }
    @if (!String.IsNullOrEmpty(Model.Headline) || !String.IsNullOrEmpty(Model.Text))
    {
        <div class="overlay overlay-tl ribbon">
        @if(!String.IsNullOrEmpty(Model.Headline))
        {
            <h2 @Markup.Property(Model, "Headline")>@Model.Headline</h2>
        }
        @if(!String.IsNullOrEmpty(Model.Text))
        {
            <p @Markup.Property(Model, "Text")>@Html.Raw(Model.Text.Replace(". ", "<br/>"))</p>
        }
        </div>
    }
    @if (Model.Link.IsLinkWithText())
    {
        <div class="carousel-caption">
            <p><a href="@Model.Link.Url" title="@Model.Link.AlternateText" class="btn btn-primary" @Markup.Property(Model, "Link")>@Model.Link.LinkText</a></p>
        </div>
    }
</div>