@using Sdl.Web.Common.Extensions
@model Teaser
<div @Markup.Entity(Model)>
    @if (Model.Media != null)
    {
        <span @Markup.Property(Model, "Media")>            
            @Html.Media(Model.Media, "100%", 3.3)
        </span>
    }
    @if (!String.IsNullOrEmpty(Model.Headline) || !String.IsNullOrEmpty(Model.Text))
    {
        <div class="overlay overlay-tl ribbon">
        @if(!String.IsNullOrEmpty(Model.Headline))
        {
            <h2 @Markup.Property(Model, "Headline")>@Model.Headline</h2>
        }
        @if(!String.IsNullOrEmpty(Model.Text))
        {
            <br/><small @Markup.Property(Model, "Text")>@Html.Raw(Model.Text.Replace(". ", "<br/>"))</small>
        }
        </div>
    }
    @if (Model.Link.IsLinkWithText())
    {
        <div class="carousel-caption">
            <p><a href="@Model.Link.Url" title="@Model.Link.AlternateText" class="btn btn-primary" @Markup.Property(Model, "Link")>@Model.Link.LinkText</a></p>
        </div>
    }
</div>