@using Sdl.Web.Common.Extensions
@model Teaser
<div @Markup.Entity(Model)>
    @if (Model.Media != null)
    {
        <span @Markup.Property(Model, "Media")>            
            @Html.Media(Model.Media, "100%", 3.3)
        </span>
    }
    @if (!String.IsNullOrEmpty(Model.Headline) || !String.IsNullOrEmpty(Model.Text))
    {
        if (Model.Link.IsLinkWithText())
        {
            <a href="@Model.Link.Url" title="@Model.Link.AlternateText">
                <div class="overlay overlay-tl ribbon">
                    <h2 @Markup.Property(Model, "Headline")>@Model.Headline</h2>
                    @if(!String.IsNullOrEmpty(Model.Text))
                    {
                        <p class="h3" @Markup.Property(Model, "Text")>@Html.Raw(Model.Text.Replace(". ", ".<br/>"))</p>
                    }
                </div>
            </a>
        }
        else
        {
            <div class="overlay overlay-tl ribbon">
                <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
                @if(!String.IsNullOrEmpty(Model.Text))
                {
                    <p class="h3" @Markup.Property(Model, "Text")>@Html.Raw(Model.Text.Replace(". ", ".<br/>"))</p>
                }
            </div>
        }
    }
</div>