@model NavigationLinks
@if ((Model.Items != null) && (Model.Items.Count > 0))
{
    const int maxItems = 5;
    int depth = Model.Items.Count;
    int start = (depth > maxItems) ? (depth - maxItems + 1) : 1;
    
    <ol class="breadcrumb" @Html.DxaEntityMarkup()>
        <li>
           <a href="@Model.Items[0].Url"><i class="fa fa-home"><span class="sr-only">@Model.Items[0].LinkText</span></i></a>
        </li>
        @if (start > 1)
        {
            <li>...</li>
        }
        @for (int i = start; i < depth - 1; i++)
        {
            Link link = Model.Items[i];
            if (string.IsNullOrEmpty(link.Url))
            {
                <li>@link.LinkText</li>
            }
            else
            {
                <li><a href="@link.Url">@link.LinkText</a></li>
            }
        }
        @if (depth > 1)
        {
            <li class="active">@Model.Items[depth - 1].LinkText</li>
        }
        
    </ol>
}