@model NavigationLinks
<ul class="nav navbar-nav main-nav" @Markup.Entity(Model)>
    @foreach (Link item in Model.Items)
    {
        <li class="@(Request.Url.LocalPath.StartsWith(item.Url) ? "active" : "")">
            <a href="@item.Url" title="@item.AlternateText">@item.LinkText</a>
        </li>
    }
</ul>