@model Sdl.Web.Mvc.Models.Article
@{
    //temp variable for debugging
    var context = Sdl.Web.Mvc.WebRequestContext.ContextEngine;
}
<article class="rich-text" @Markup.Entity(Model)>
    <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
    <div class="meta">
        Posted on 1st January 2014 by Joe Bloggs
    </div>
    @if (Model.Image != null)
    {
        <figure>
            <img class="center-block" @Markup.Property(Model, "Image") src="@Html.FixedSizeImageUrl(Model.Image.Url,500,true)">
            <figcaption>
                Browser/Device has display width: @context.Browser.DisplayWidth , pixel ratio: @context.Device.PixelRatio
            </figcaption>
        </figure>
    }
    <div class="content" @Markup.Property(Model, "ArticleBody")>
        @Html.Raw(Model.ArticleBody)
    </div>
</article>