@model Sdl.Web.Mvc.Models.Teaser
@if (Model.Image!=null)
{
    <img src="@Html.FixedSizeImageUrl(Model.Image.Url, 350, true, 3.3)">
}
<div class="carousel-caption">
    @if (Model.Link != null)
    {
    <a href="@Model.Link.Url" title="@Model.Link.AlternateText">
        <h4>@Model.Headline</h4>
    </a>
    }
    else
    {
    <h4>@Model.Headline</h4>
    }
    <p class="overlay overlay-bottom glow">@Model.Text</p>
</div>
