@model RegionModel
@Html.DxaRegionMarkup()
<div class="region" @Html.DxaRegionMarkup()>
    <h3>Rendered @Model with Region View "Test:TestRegionEntity"</h3>
    
    @if (Model.Regions.Count > 0)
    {
        <h4>Nested Regions</h4>
        <div>
            @Html.DxaRegions()
        </div>
    }

    <h4>Entities</h4>
    <div>
        <h5>C513188 - All entities, container size default</h5>
        @Html.DxaEntities()

        <h5>C539406 - All entities, container size 0</h5>
        @Html.DxaEntities(containerSize: 0)

        <h5>C539407 - All entities, container size 1</h5>
        @Html.DxaEntities(containerSize: 1)

        <h5>C539408 - All entities, container size 100</h5>
        @Html.DxaEntities(containerSize: 100)

        <h5>C539409 - All entities, container size -100</h5>
        @Html.DxaEntities(containerSize: -100)

        <hr />
        
        <h5>C513183 - TestEntity1, container size default</h5>
        @Html.DxaEntity(Model.Entities[0])

        <h5>C539410 - TestEntity1 - container size, container size 0</h5>
        @Html.DxaEntity(Model.Entities[0], containerSize: 0)

        <h5>C539411 - TestEntity1 - container size, container size 1</h5>
        @Html.DxaEntity(Model.Entities[0], containerSize: 1)

        <h5>C539412 - TestEntity1 - container size, container size 100</h5>
        @Html.DxaEntity(Model.Entities[0], containerSize: 100)

        <h5>C539413 - TestEntity1 - container size, container size -100</h5>
        @Html.DxaEntity(Model.Entities[0], containerSize: -100)

        <h5>C513198, C513697 - TestEntity1 - TestProperty1</h5>
        <div @Html.DxaPropertyMarkup(Model.Entities[0], "TestProperty1")>
        @Html.DxaPropertyMarkup(Model.Entities[0], "TestProperty1")
        </div>
    </div>


</div>
