@model Sdl.Web.Mvc.Models.ContentList<Teaser>
<div @Markup.Entity(Model)>
    @if (Model.Headline!=null)
    {
    <h3 @Markup.Property(Model,"Headline")>@Model.Headline</h3>
    }
    <ul>
    @foreach (var item in Model.ItemListElements)
    {
        <li>
            @if (item.Link != null && item.Link.Url != null)
            {
            <a href="@item.Link.Url">
                @item.Headline
            </a>
            }
            else
            {
            @item.Headline
            }
            @if (item.Date != null)
            {
                <time class="meta small">[@Html.DateDiff(item.Date)]</time>
            }
        </li>
    }
    </ul>
</div>
