@model Sdl.Web.Mvc.Models.Teaser
<div class="jumbotron" @Markup.Entity(Model)>
    <h4 @Markup.Property(Model,"Headline")>@Model.Headline</h4>
    <p @Markup.Property(Model, "Text")>@Model.Text</p>
    @if (Model.Link != null)
    {
        <p>
            <a @Markup.Property(Model, "Link.LinkText") href="@Model.Link.Url" title="@Model.Link.AlternateText">@(Model.Link.LinkText ?? Html.Resource("core.readMoreLinkText"))<i class="fa fa-chevron-right"></i></a>
        </p>
    }
</div>