@model Sdl.Web.Mvc.Models.ItemList
<article class="rich-text" @Markup.Entity(Model)>
    <div class="content">
        @if (Model.Headline != null)
        {
            <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
        }
        @if (Model.ItemListElements.Count > 0)
        {
            int i = 0;
            string accordionId = Guid.NewGuid().ToString();
            <div class="panel-group responsive-accordion" id="@accordionId">
                @foreach (Teaser element in Model.ItemListElements)
                {
                    string collapseId = Guid.NewGuid().ToString();
                    <div class="panel panel-default" @Markup.Property(Model, "itemListElement", i++)>
                        @if (element.Headline != null)
                        {
                            <div class="panel-heading">
                                <h4 class="panel-title" @Markup.Property(element, "Headline")>
                                    <a data-toggle="collapse" data-parent="#@accordionId" href="#@collapseId">@element.Headline</a>
                                </h4>
                            </div>
                        }
                        @if (element.Text!= null)
                        {
                            <div id="@collapseId" class="panel-collapse collapse @(i==1?"in":"")" @Markup.Property(element, "Text")>
                                <div class="panel-body">
                                    @Html.Raw(element.Text)

                                    @if (element.Media != null)
                                    {
                                        <figure @Markup.Property(element, "Media")>
                                            @Html.Media(element.Media)
                                        </figure>
                                    }
                                    
                                    @if (element.Link != null)
                                    {
                                        <p @Markup.Property(element, "Link.LinkText")>
                                            <a href="@element.Link.Url" title="@element.Link.AlternateText" class="btn btn-primary">@(element.Link.LinkText ?? Html.Resource("core.readMoreLinkText"))</a>
                                        </p>
                                    }    
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</article>