@model Sdl.Web.Mvc.Models.Article
<article class="rich-text" @Markup.Entity(Model)>
    @if (Model.Image != null)
    {
        <div id="carousel-large" class="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="center-block" @Markup.Property(Model, "Image") src="@Html.FixedSizeImageUrl(Model.Image.Url, 285, true, 3.3)">
                    <div class="overlay overlay-tl ribbon">
                        <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
    }
    @if (@Model.Date!=null)
    {
        <div class="meta" @Markup.Property(Model, "Date")>
            @Html.Date(Model.Date)
        </div>
    }
    <div class="content" @Markup.Property(Model, "ArticleBody")>
        @if (Model.Paragraphs!=null)
        {
            foreach (var para in Model.Paragraphs)
            {
                if (para.Subheading!=null)
                {
                    <h3 @Markup.Property(para, "Subheading")>@para.Subheading</h3>
                }
                if (para.Content!=null)
                {
                    <div @Markup.Property(para,"Content")>
                        @Html.Raw(para.Content)
                    </div>
                }
                if (para.Media!=null && para.Media is Image)
                {
                    <figure>
                        <img @Markup.Property(para, "Media") src="@Html.FixedSizeImageUrl(((Image)para.Media).Url,460,true,2)">
                        @if (para.Caption!=null)
                        {
                            <figcaption @Markup.Property(para, "Caption") >
                                @para.Caption
                            </figcaption>
                        }
                    </figure>
                }
            }
        }
    </div>
</article>