@model Sdl.Web.Mvc.Models.Article
<article class="rich-text" @Markup.Entity(Model)>
    @if (Model.Image != null)
    {
        <div id="carousel-large" class="carousel">
            <div class="carousel-inner">
                <div class="item active" @Markup.Property(Model, "Image")>
                    @Html.Image(Model.Image, 3.3, "center-block")
                    <div class="overlay overlay-tl ribbon">
                        <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
    }
    @if (@Model.Date!=null)
    {
        <div class="meta" @Markup.Property(Model, "Date")>
            @Html.Date(Model.Date)
        </div>
    }
    <div class="content">
        @if (Model.ArticleBody != null)
        {
            int i=0;
            foreach (var para in Model.ArticleBody)
            {
                <div @Markup.Property(Model, "Paragraphs",i++)>
                @if (para.Subheading!=null)
                {
                    <h3 @Markup.Property(para, "Subheading")>@para.Subheading</h3>
                }
                @if (para.Content!=null)
                {
                    <div @Markup.Property(para,"Content")>
                        @Html.Raw(para.Content)
                    </div>
                }
                @if (para.Media!=null && para.Media is YouTubeVideo)
                {
                    <figure @Markup.Property(para, "Media")>
                        @((YouTubeVideo)para.Media).Embed
                        @if (para.Caption!=null)
                        {
                            <figcaption @Markup.Property(para, "Caption") >
                                @para.Caption
                            </figcaption>
                        }
                    </figure>
                }
                @if (para.Media!=null && para.Media is Image)
                {
                    <figure @Markup.Property(para, "Media")>
                        @Html.Image(((Image)para.Media))
                        @if (para.Caption!=null)
                        {
                            <figcaption @Markup.Property(para, "Caption") >
                                @para.Caption
                            </figcaption>
                        }
                    </figure>
                }
                </div>
            }
        }
    </div>
</article>