@model Sdl.Web.Mvc.Models.Teaser
<div class="feature teaser-container" @Markup.Entity(Model)>
    @if (Model.Media != null && Model.Media is Image)
    {
        <div class="feature" @Markup.Property(Model, "Media")>
			@Html.Image((Image)Model.Media)
		</div>
    }
    @if (Model.Media != null && Model.Media is YouTubeVideo)
    {
        <div class="feature" @Markup.Property(Model, "Media")>            
            @Html.Image((YouTubeVideo)Model.Media)
        </div>
    }
    <h3 @Markup.Property(Model,"Headline")>@Model.Headline</h3>
    <p @Markup.Property(Model, "Text")>@Model.Text</p>
    @if (Model.Link != null)
    {
        <p @Markup.Property(Model, "Link.LinkText")>
            <a href="@Model.Link.Url" title="@Model.Link.AlternateText">@(Model.Link.LinkText ?? Html.Resource("core.readMoreLinkText")) <i class="fa fa-chevron-right"></i></a>
        </p>
    }
</div>