@model Sdl.Web.Mvc.Models.Teaser
<div @Markup.Entity(Model)>
    @if (Model.Image!=null)
    {
        <span @Markup.Property(Model, "Image")>
            @Html.Image(Model.Image, 3.3)        
        </span>
    }
    @if (Model.Headline!=null || Model.Text!=null)
    {
        if (Model.Link != null)
        {
        <a href="@Model.Link.Url" title="@Model.Link.AlternateText">
            <div class="overlay overlay-tl ribbon">
                <h2 class="" @Markup.Property(Model, "Headline")>@Model.Headline</h2>
                @if(Model.Text!=null)
                {
                    <p class="h3" @Markup.Property(Model, "Text")>@Html.Raw(Model.Text.Replace(". ",".<br/>"))</p>
                }
            </div>
        </a>
        }
        else
        {
            <div class="overlay overlay-tl ribbon">
                <h2 class="" @Markup.Property(Model, "Headline")>@Model.Headline</h2>
                @if(Model.Text!=null)
                {
                    <p class="h3" @Markup.Property(Model, "Text")>@Html.Raw(Model.Text.Replace(". ",".<br/>"))</p>
                }
            </div>
        }
    }
</div>
