@model Article
<article class="rich-text" @Html.DxaEntityMarkup()>
    @if (Model.Image != null && WebRequestContext.ScreenWidth!=ScreenWidth.ExtraSmall)
    {
        <div class="hero" @Html.DxaPropertyMarkup(() => Model.Image)>
            @Html.Media(Model.Image, 3.3)
            <div class="overlay overlay-tl ribbon">
                <h1 @Html.DxaPropertyMarkup(() => Model.Headline)>@Model.Headline</h1>
            </div>
        </div>
    }
    else
    {
        <h1 @Html.DxaPropertyMarkup(() => Model.Headline)>@Model.Headline</h1>
    }
    @if (Model.Date!=null)
    {
        <div class="meta" @Html.DxaPropertyMarkup(() => Model.Date)>
            @Html.Date(Model.Date)
        </div>
    }
    <div class="content">
        @if (Model.ArticleBody != null)
        {
            int i=0;
            foreach (var para in Model.ArticleBody)
            {
                <div @Html.DxaPropertyMarkup(() => Model.ArticleBody, i++)>
                    @if (para.Subheading!=null)
                    {
                        <h3 @Html.DxaPropertyMarkup(para, "Subheading")>@para.Subheading</h3>
                    }
                    @if (para.Content!=null)
                    {
                        <div @Html.DxaPropertyMarkup(para, "Content")>
                            @Html.Raw(para.Content)
                        </div>
                    }
                    @if (para.Media!=null)
                    {
                        <figure @Html.DxaPropertyMarkup(para, "Media")>
                            @Html.Media(para.Media, "100%", 0) 
                            @if (para.Caption!=null)
                            {
                                <figcaption @Html.DxaPropertyMarkup(para, "Caption")>
                                    @para.Caption
                                </figcaption>
                            }
                        </figure>
                    }
                </div>
            }
        }
    </div>
</article>