@model Article
<article class="rich-text" @Markup.Entity(Model)>
    @if (Model.Image != null && WebRequestContext.ScreenWidth!=ScreenWidth.ExtraSmall)
    {
        <div class="hero" @Markup.Property(Model, "Image")>
            @Html.Media(Model.Image, 3.3)
		    <div class="overlay overlay-tl ribbon">
    	        <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
    		</div>
		</div>
    }
    else
    {
        <h1 @Markup.Property(Model, "Headline")>@Model.Headline</h1>
    }
    @if (Model.Date!=null)
    {
        <div class="meta" @Markup.Property(Model, "Date")>
            @Html.Date(Model.Date)
        </div>
    }
    <div class="content">
        @if (Model.ArticleBody != null)
        {
            int i=0;
            foreach (var para in Model.ArticleBody)
            {
                <div @Markup.Property(Model, "ArticleBody", i++)>
                    @if (para.Subheading!=null)
                    {
                        <h3 @Markup.Property(para, "Subheading")>@para.Subheading</h3>
                    }
                    @if (para.Content!=null)
                    {
                        <div @Markup.Property(para,"Content")>
                            @Html.Raw(para.Content)
                        </div>
                    }
                    @if (para.Media!=null)
                    {
                        <figure @Markup.Property(para, "Media")>
                            @Html.Media(para.Media, "100%", 0) 
                            @if (para.Caption!=null)
                            {
                                <figcaption @Markup.Property(para, "Caption") >
                                    @para.Caption
                                </figcaption>
                            }
                        </figure>
                    }
                </div>
            }
        }
    </div>
</article>