@model Notification
<!--[if lt IE 8]>
    <div id="incompability" class="container-fluid page-border" @Markup.Entity(Model)>
        <div class="row">
            <div class="col-sm-9">
                <div class="h4" @Markup.Property(Model, "Headline")>@Model.Headline</div>
                <p @Markup.Property(Model, "Text")>@Model.Text</p>
            </div>
            <div class="col-sm-3">
                <ul class="nav nav-cookie">
                    <li @Markup.Property(Model, "Continue")>
                        <a id="incompability-hide" href="#"><i class="fa fa-check-circle"></i> @Model.Continue</a>
                    </li>
                    @if (Model.Link.IsLinkWithText())
                    {
                        <li @Markup.Property(Model, "Link.LinkText")>
                            <a href="@Model.Link.Url"><i class="fa fa-question-circle"></i> @Model.Link.LinkText</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
<![endif]-->