@model YouTubeVideo
@if (Model.IsEmbedded)
{
    <div class="embed-video @Model.HtmlClasses">
        <img src="@Url.ResponsiveImage(Model.Url, 0, "100%")" alt="@Model.Headline">
        <button type="button" data-video="@Model.YouTubeId">
            <i class="fa fa-play-circle"></i>
        </button>
    </div>
}
else
{
    <div class="video @Model.HtmlClasses" @Html.DxaEntityMarkup()>
        @if (Model.Headline != null)
        {
            <h3 @Html.DxaPropertyMarkup(() => Model.Headline)>@Model.Headline</h3>
        }
        @if (Model.Url != null)
        {
            <div class="embed-video">
                <img src="@Url.ResponsiveImage(Model.Url, 0, "100%")" alt="@Model.Headline">
                <button type="button" data-video="@Model.YouTubeId">
                    <i class="fa fa-play-circle"></i>
                </button>
            </div>
        }
        else
        {
            string youTubeUrl = string.Format("https://www.youtube.com/embed/{0}?version=3&enablejsapi=1", Model.YouTubeId);
            string iframeId = "video" + Guid.NewGuid().ToString("N");
            <iframe src="@youTubeUrl" id="@iframeId"></iframe>
        }
    </div>
}
