@model Sdl.Web.Mvc.Models.Carousel
<div id="carousel-large" class="carousel slide" @Markup.Entity(Model)>
    <ol class="carousel-indicators">
        @if (Model.ItemListElements!=null)
        {
            for (int i = 0; i < Model.ItemListElements.Count; i++)
            {
                <li data-target="#carousel-large" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        @if (Model.ItemListElements!=null)
        {
            for (int i = 0; i < Model.ItemListElements.Count; i++)
            {
                var item = Model.ItemListElements[i];
                <div class="item @(i==0?"active":"")" @Markup.Property(Model, "ItemListElements", i)>
                    @if (item is Teaser)
                    {
                        Html.RenderPartial("Core/Teaser-Carousel", item);
                    }
                </div>
            }
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-large" data-slide="prev">
        <i class='fa fa-chevron-left carousel-icon-left'></i>
    </a>
    <a class="right carousel-control" href="#carousel-large" data-slide="next">
        <i class='fa fa-chevron-right carousel-icon-right'></i>
    </a>
</div>
