@model Sdl.Web.Common.Models.WebPage
@{
    bool hasLeftBar = Model.Includes.ContainsKey("Left Navigation") || Model.Regions.Keys.Contains("Left");
    int mainContainerSize = hasLeftBar ? 9 : 12;
}
@if (Model.Regions.ContainsKey("Hero"))
{
    @ViewBag.Renderer.RenderRegion(Model.Regions["Hero"], Html)
}
@if (Model.Includes.ContainsKey("Content Tools"))
{
    foreach (var region in Model.Includes["Content Tools"].Regions.Values)
    {
        @ViewBag.Renderer.RenderRegion(region, Html)
    }
}
<div class="row">
    @if (hasLeftBar)
    {
    <div class="col-sm-12 col-md-3">
        @if (Model.Includes.ContainsKey("Left Navigation"))
        {
            foreach (var region in Model.Includes["Left Navigation"].Regions.Values)
            {
                @ViewBag.Renderer.RenderRegion(region, Html, 3)
            }
        }
        @if (Model.Regions.ContainsKey("Left"))
        {
            @ViewBag.Renderer.RenderEntity(Model.Regions["Left"], Html, 3)
        }
    </div>
    }
    <div class="col-sm-12 col-md-@(mainContainerSize)">
        @foreach (Region region in Model.Regions.Values)
        {
            @ViewBag.Renderer.RenderRegion(region, Html, mainContainerSize, new List<string>{"Hero", "Left"})
        }
    </div>
</div>