@model Sdl.Web.Models.WebPage
@using Sdl.Web.Mvc.Html
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Title</title>
    @foreach (var meta in Model.Meta)
    {
        <meta name="@meta.Key" content="@meta.Value">
    }
    <link rel="stylesheet" href="@Url.VersionedContent("/assets/css/main.css")">
    <script src="@Url.VersionedContent("/assets/scripts/header.js")"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/system/assets/scripts/ie.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
        @if (Model.Includes.ContainsKey("Header"))
        {
            @Html.Partial("Header", Model.Includes["Header"])
        }
        <div class="container-fluid page-border" role="main">
            @RenderBody()
        </div>
    </div>
    @if (Model.Includes.ContainsKey("Footer"))
    {
        @Html.Partial("Footer", Model.Includes["Footer"])
    }
    <script src="@Url.VersionedContent("/assets/scripts/main.js")"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();

            $(window).resize(function () {
                var footerHeight = $("#page-footer").height();
                $("#page-wrapper").css("padding-bottom", footerHeight);
                $("#page-footer").css("margin-top", -footerHeight);
            });

            $('.image-loading').each(function (e) {
                $(this).addClass('is-loading');
                $(this).find('img').on('load', function () {
                    $(this).closest('.image-loading').removeClass('is-loading');
                });
            });
        });
    </script>
    <script src="@Url.VersionedContent("/assets/scripts/custom.js")"></script>
    @ViewBag.Renderer.RenderPageData(Model, Html)
</body>
</html>