@model Tri.Example.Products.Product
<div @Markup.Entity(Model)>
    <h1 @Markup.Property(Model,"Title")>@Model.Title</h1>
    <p @Markup.Property(Model,"Description")>@Model.Description</p>
    <p>
        Only @Model.Stock items left in stock. 
        <a href="buy?id=@Model.ProductId">Buy now</a> for just $@Model.Price!
    </p>
</div>

