@model PageModel
<html>
    <head>
        <title>@Model.Title</title>
        <style>
            .region { border: solid; }
            .entity { border: dashed thin; }
            td { border: solid thin; }
        </style>
    </head>
    <body>
        <h2>Rendered @Model with Page View "Test:TestPage2"</h2>
        
        <h2>C513177 - All Regions, default container size</h2>
        <div>
            @Html.DxaRegions()
        </div>

        <h2>C539401 - All Regions, container size 0</h2>
        <div>
            @Html.DxaRegions(containerSize: 0)
        </div>

        <h2>C539402 - All Regions, container size 1</h2>
        <div>
            @Html.DxaRegions(containerSize: 1)
        </div>

        <h2>C539403 - All regions, container size 100</h2>
        <div>
            @Html.DxaRegions(containerSize: 100)
        </div>

        <h2>C539404 - All regions, container size -100</h2>
        <div>
            @Html.DxaRegions(containerSize: -100)
        </div>

        <h2>C513178 - TestRegion1, TestRegion2 excluded</h2>
        <div>
            @Html.DxaRegions(exclude: "TestRegion1,TestRegion2")
        </div>

        <h2>C513179 - Non-existing regions excluded</h2>
        <div>
            @Html.DxaRegions(exclude: "TestRegionC513179-1,TestRegionC513179-2")
        </div>

        <h2>C513180 - TestRegion1 excluded + non-existing region excluded</h2>
        <div>
            @Html.DxaRegions(exclude: "TestRegion1,TestRegionC513180")
        </div>

        <hr>

        <h2>C513329 - Region - null</h2>
        <div>
            @Html.DxaRegion("")
        </div>

        <h2>C513166 - Region - TestRegion2, containerSize default</h2>
        <div>
            @Html.DxaRegion("TestRegion2")
        </div>

        <h2>C539397 - Region - TestRegion2, containerSize 0</h2>
        <div>
            @Html.DxaRegion("TestRegion2", containerSize: 0)
        </div>

        <h2>C539398 - Region - TestRegion2, containerSize 1</h2>
        <div>
            @Html.DxaRegion("TestRegion2", containerSize: 1)
        </div>

        <h2>C539399 - Region - TestRegion2, containerSize 100</h2>
        <div>
            @Html.DxaRegion("TestRegion2", containerSize: 100)
        </div>

        <h2>C539400 - Region - TestRegion2, containerSize -100</h2>
        <div>
            @Html.DxaRegion("TestRegion2", containerSize: -100)
        </div>
        
        <h2>C513325 - Region - TestRegion2, emptyview - TestRegion3</h2>
        <div>
            @Html.DxaRegion("TestRegion2", emptyViewName: "Test:TestRegion3")
        </div>

        <h2>C513326 - Region - TestRegion2, emptyview - TestRegionNONE</h2>
        <div>
            @Html.DxaRegion("TestRegion2", emptyViewName: "Test:TestRegionNONE")
        </div>

        <h2>C513167 - nonexisting Region - TestRegionC513167</h2>
        <div>
            @Html.DxaRegion("TestRegionC513167")
        </div>

        <h2>C513327 - nonexisting Region - TestRegionC513327, emptyview - TestRegion3</h2>
        <div>
            @Html.DxaRegion("TestRegionC513327", emptyViewName: "Test:TestRegion3")
        </div>

        <h2>C513328 - nonexisting Region - TestRegionC513328-1, emptyview - TestRegionC513328-2</h2>
        <div>
            @Html.DxaRegion("TestRegionC513328-1", emptyViewName: "Test:TestRegionC513328-2")
        </div>

        <hr>

        <h2>C513173 - Region (model) - TestRegion2, containerSize default</h2>
        <div>
            @Html.DxaRegion(Model.Regions["TestRegion2"])
        </div>

        <h2>C513774 - Region (model) - TestRegion2, containerSize 0</h2>
        <div>
            @Html.DxaRegion(Model.Regions["TestRegion2"], containerSize: 0)
        </div>

        <h2>C539336 - Region (model) - TestRegion2, containerSize 1</h2>
        <div>
            @Html.DxaRegion(Model.Regions["TestRegion2"], containerSize: 1)
        </div>

        <h2>C539337 - Region (model) - TestRegion2, containerSize 100</h2>
        <div>
            @Html.DxaRegion(Model.Regions["TestRegion2"], containerSize: 100)
        </div>

        <h2>C539338 - Region (model) - TestRegion2, containerSize -100</h2>
        <div>
            @Html.DxaRegion(Model.Regions["TestRegion2"], containerSize: -100)
        </div>

        <!-- Epilogue -->
        <script src="@Url.VersionedContent("/assets/scripts/main.js")"></script>
        @if (WebRequestContext.IsPreview)
        {
            <script src="@Url.VersionedContent("/assets/scripts/xpm.js")"></script>
        }
        @Html.DxaPageMarkup()
    </body>
</html>
