@model PageModel
<html>
    <head>
        <title>@Model.Title</title>
        <style>
            .region { border: solid; }
            .entity { border: dashed thin; }
            td { border: solid thin; }
        </style>
    </head>
    <body class="@Model.HtmlClasses">
        <h1>Rendered @Model with Page View "Test:TestPageCSS"</h1>

        <p>
            Classes = @Model.HtmlClasses
        </p> 
        
        <h2>Regions</h2>
        <div>
            @Html.DxaRegions()
        </div>
        
        <!-- Epilogue -->
        <script src="@Url.VersionedContent("/assets/scripts/main.js")"></script>
        @if (WebRequestContext.IsPreview)
        {
            <script src="@Url.VersionedContent("/assets/scripts/xpm.js")"></script>
        }
        @Html.DxaPageMarkup()
    </body>
</html>
