@model Sdl.Web.Modules.Search.SearchResults<Teaser>
<div class='rich-text' @Markup.Entity(Model)>
    @if (Model.Headline != null)
    {
        <div class='page-header page-header-top'>
            <h1 class='h3' @Markup.Property(Model, "Headline")>@Model.Headline</h1>
        </div>
    }
        @if (Model.ItemListElements.Count > 0)
        {
            if (Model.ResultsText != null)
            {
            <div @Markup.Property(Model, "ResultsText")>
                @Html.Raw(String.Format(Model.ResultsText, Model.Query.QueryText, Model.Total))
            </div>
            }
        <div class="pull-right">@String.Format(Html.Resource("core.showingItemsText"), Model.Start + 1, Model.Start + Model.ItemListElements.Count)</div>
        <div class="list-group">
            @foreach (var item in Model.ItemListElements)
            {
                <a href="@item.Link.Url" class="list-group-item">
                <h4 class="list-group-item-heading">@item.Headline</h4>
                @if (item.Date != null)
                {
                    <time class="meta small">@Html.DateDiff(item.Date)</time>
                }
                @if (item.Text != null)
                {
                    <p class="list-group-item-text">@item.Text</p>
                }
                </a>
            }
        </div>
    }
    else if(Model.NoResultsText!=null)
    {
        <div @Markup.Property(Model,"NoResultsText")>
            @Html.Raw(String.Format(Model.NoResultsText,Model.Query.QueryText))
        </div>
    }
</div>
