@model Footer
<footer class='page-footer'>
    @foreach (Region region in Model.Regions.Values)
    {
        @ViewBag.Renderer.Render(region, Html)
    }
    <hr />
    @if (Model.LinkList!=null)
    {
        <ul class='list-inline text-center' @Markup.Entity(Model.LinkList)>
	        @if (Model.LinkList.Headline!=null)
            {
                <li @Markup.Property(Model.LinkList, "Headline")>
                    <small>@Model.LinkList.Headline</small>
                </li>         
            }
            @{ int index = 0; }
            @foreach(var link in Model.LinkList.Links)
            {
                <li @Markup.Property(Model.LinkList, "Links", index)>
                    <small><a href="@link.Url" title="@link.AlternateText">@link.LinkText</a></small>
                </li>
                index++;
            }
        </ul>
    }
</footer>