@model Sdl.Web.Mvc.Models.Header
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">@Html.Resource("core.toggleNavigationText")</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (Model.Logo!=null)
            {
            <a class="navbar-logo" href="@Model.Logo.Link.Url" alt="@Model.Logo.Link.LinkText">
                @if (Model.Logo!=null)
                {
                    <img src="@Model.Logo.Image.Url" alt="@Model.Logo.Image.AlternateText" height="80">
                }
            </a>
            }
        </div>
        @foreach (Region region in Model.Regions.Values)
        {
            @ViewBag.Renderer.Render(region,Html)
        }
    </div>
</div>
