@model Sdl.Web.Mvc.Models.WebPage
@using Sdl.Web.Mvc.Html
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @Html.MetaTags(Model)
    <title>@Model.Title</title>
    <!--
      <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less" />
      <script src="/bower_components/less.js/dist/less-1.7.0.min.js"></script>
    -->    
    <link rel="stylesheet" href="@Url.VersionedContent("/assets/css/main.css")">
    <script src="@Url.VersionedContent("/assets/scripts/header.js")"></script>
    <script src="@Url.VersionedContent("/assets/scripts/discover-min.js")"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
        @if (Model.Header!=null)
        {
            @Html.Partial("Core/Header", Model.Header)
        }
        <div class="container-fluid page-border" role="main">
            @RenderBody()
        </div>
    </div>
    @if (Model.Footer!=null)
    {
        @Html.Partial("Core/Footer", Model.Footer)
    }
    <script src="@Url.VersionedContent("/assets/scripts/plugins.js")"></script>
    <script src="@Url.VersionedContent("/assets/scripts/custom.js")"></script>
    <script src="@Url.VersionedContent("/assets/scripts/theme-customiser.js")"></script>
    @Markup.Page(Model)
</body>
</html>